[submodule "app/zlua"]
	path = .local/config_modules/zlua
	url = https://github.com/ilyagr/z.lua
[submodule ".local/app/git-sync"]
	path = .local/config_modules/git-sync
	url = https://github.com/simonthum/git-sync
