[submodule "app/zlua"]
	path = .local/config_modules/zlua
	url = https://github.com/ilyagr/z.lua
[submodule ".local/app/git-sync"]
	path = .local/config_modules/git-sync
	url = https://github.com/simonthum/git-sync
[submodule ".local/config_modules/vim-fish"]
	path = .local/config_modules/vim/fish
	url = https://github.com/dag/vim-fish.git
[submodule ".local/config_modules/vim-dirdiff"]
	path = .local/config_modules/vim/dirdiff
	url = https://github.com/will133/vim-dirdiff
[submodule ".local/config_modules/vim/vim-toml"]
	path = .local/config_modules/vim/toml
	url = https://github.com/cespare/vim-toml.git
[submodule ".local/config_modules/vim/tabdiff.vim"]
	path = .local/config_modules/vim/tabdiff
	url = git@github.com:Soares/tabdiff.vim.git
[submodule ".local/config_modules/vimtabdiff"]
	path = .local/config_modules/vimtabdiff
	url = https://github.com/ilyagr/vimtabdiff
[submodule ".local/config_modules/tmux/tmux-fingers"]
	path = .local/config_modules/tmux/fingers
	url = https://github.com/ilyagr/tmux-fingers
[submodule ".local/config_modules/tmux/extrakto"]
	path = .local/config_modules/tmux/extrakto
	url = git@github.com:ilyagr/extrakto.git
